/* Write your CSS code here */

.home{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: roboto;
  font-size: 30px;
  font-weight: bold;
}

